<div class="box">
  <div class="search-container">
    <span class="icon" (click)="searchUser()"><i class="fa fa-search"></i></span>
    <input class="search" type="search"
           placeholder="Search for Github user"  [(ngModel)]="Username" (keyup.enter)="searchUser()"/>
  </div>
  <small *ngIf="modelFailsValidation"> Please enter a user to search</small>
</div>
