$search-container-width: 40em;
$search-input-border-radius: 0.3em;
$search-input-height: 3em;

.box{
  width: $search-container-width;
  height: $search-input-height;
  margin: 100px auto;
}

.search-container{
  width: $search-container-width;
  position: relative;
  vertical-align: middle;
  white-space: nowrap;

  input.search{
    width: $search-container-width;
    height: $search-input-height;
    background: #2b303b;
    border: none;
    font-size: 12pt;
    float: left;
    color: #63717f;
    padding-left: 2em;
    -webkit-border-radius: $search-input-border-radius;
    -moz-border-radius: $search-input-border-radius;
    border-radius: $search-input-border-radius;
  }

  input.search:focus, input.search.active{
    color: #f1f1f1;
    outline: medium forestgreen;
    -webkit-border-radius: $search-input-border-radius;
    -moz-border-radius: $search-input-border-radius;
    border-radius: $search-input-border-radius;
  }

  .icon{
    position: absolute;
    top: 50%;
    margin-left: 0.8em;
    margin-top: 0.7em;
    z-index: 1;
    color: #4f5b66;
  }

  .icon:hover, .icon:active{
    color: #f1f1f1;
    cursor: pointer;
  }
}

@media screen and (max-width: 480px) {
  .box {
    width: 17em;
    margin: 100px 0;
    transition: 0.2s all ease-in-out;
  }
  .search-container input.search{
    width: 18em;
    transition: 0.2s all ease-in-out;
  }
}

@media screen and (max-width: 768px){
  .box {
    width: 21em;
    margin: 100px 0;
    transition: 0.2s all ease-in-out;
  }
  .search-container input.search{
    width: 22em;
    transition: 0.2s all ease-in-out;
  }
}
