<p>
  Github user finder is a site which supports the searching for an existing Github account through their login(or Github username).
  This search returns the exact user handle , with other information such as a list of followers (including their avatars and usernames),
  the total number of people being followed by the user, their Github handle and the number of public repositories that user has contributed to.
</p>
<p>
  A search can be executed by typing a username in the search box and hitting the enter keyboard key or clicking the search glyphicon to the left of the search bar.
  The search results is limited to 20 followers, with a more button, which when clicked returns the next 20 followers using the Github API Version 3.

</p>
