.fa.fa-github{
  color: #1172c4;
}
.nav ul {
  position: relative;
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0 auto;
  width: 100%;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  float: left;
  padding: 0.7em 1em;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.nav li:hover {
  background-color: #005f5f;
}

.inline, i.inline{
  display: inline !important;
}
