<header>
  <div class="nav">
    <ul>
      <li class="home">
        <span style="white-space:nowrap">
           <i class="fa fa-github inline"></i>
            <a class="inline" [routerLink]="['/search']">Github User Finder</a>
        </span>
      </li>
      <li><a [routerLink]="['/about']">About</a></li>
    </ul>
  </div>
</header>

