$body-top-margin: 1em;
$footer-height: 6em;

.container.main-content{
  margin-top: $body-top-margin;
}

div.outer-container{
  min-height: 100%;
  margin-bottom: -$footer-height + 0.5em;
  padding-bottom: 1em;
  background: #e2e1e0;
}

div.outer-container:after{
  content: " ";
  display: block;
}

.footer, div.outer-container:after{
  height: $footer-height;
}

.footer{
  background: darkslategrey;
  color: #f1f1f1;
  text-align: center;
  font-size: 90%;
}
