<div class="outer-container">
  <app-navbar></app-navbar>
  <div class="container main-content">
    <router-outlet></router-outlet>
  </div>
</div>
<footer class="footer">
  <span>Github user finder API Version 3.</span>
</footer>

