<div>
  <button type="button" class="custom-button" (click)="goBack()">Back to Search</button>
</div>
<div class="user custom-card">
  <div class="img">
    <img [src]="UserData?.avatar_url" alt="follower img"/>
  </div>
  <div class="content">
    <div class="info">
      <span><i class="fa fa-id-badge"></i> {{UserData?.login}}</span>
    </div>
    <div class="info">
      <span><i class="fa fa-link"></i><a href="{{UserData?.html_url}}">{{UserData?.html_url}}</a> </span>
    </div>
    <div class="info">
      <span><i class="fa fa-users"></i> {{UserData.followers}} followers</span>
    </div>
    <div class="info">
      <span><i class="fa fa-users"></i> {{UserData.following}} following</span>
    </div>
    <div class="info">
      <span><i class="fa fa-universal-access"></i> {{UserData?.public_repos}} public repositories</span>
    </div>
  </div>
</div>

<div class="separator" *ngIf="UserData.followers">
  Follower List
</div>

<div class="follower custom-card" *ngFor="let follower of Followers">
  <div class="img">
    <img [src]="follower?.avatar_url" alt="follower img"/>
  </div>
  <div class="content">
    {{follower?.login}}
  </div>
</div>

<div *ngIf="isFollowerLimitReached" class="load-more-results-btn">
  <button class="custom-button" type="button" (click)="loadMoreUsers()">
    Load more..
  </button>
</div>

