$item-padding: 1.5em;
$img-sizing: 5em;

.img{
  img{
    width: $img-sizing;
    height: $img-sizing;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
  }
  float: left;
  height: 100%;
  padding: 1em;
}

.img:before {
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.content{
  padding: 1.7em;
  height: 100%;
}

.user.custom-card{
  width: 80%;
  height: 11em;
}

.user.custom-card:after, .separator:after{
  display: block;
  content: ' ';
}

.follower.custom-card{
  width: 17em;
  height: 11em;
}

.custom-card{
  background: #fff;
  border-radius: 0.5em;
  margin: 0.3em;
  position: relative;
  display: inline-block;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.custom-card:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  cursor: pointer;
}

.separator{
  margin: 1em 0 0.3em 1em;
  font-size: 110%;
  color: dimgray;
}

.load-more-results-btn{
  margin-left: 30%;
}

.info{
  padding-bottom: 0.2em;
}
.fa.fa-link{
  padding-right: 0.4em;
}


