/* You can add global styles to this file, and also import other style files */

html, body{
  height: 100%;
  font-family: Arial Helvetica, sans-serif;
}

body{
  overflow-x: hidden;
}

button.custom-button{
  cursor: pointer;
  outline: none;
  background: transparent;
  position: relative;
  z-index: 4;
  color: #1172c4;
  border: 2px solid #1172c4;
  border-radius: 1.3em;
  padding: 0.6em 2.4em;
  font-size: 0.8em;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

button.custom-button:hover{
  color: #ffffff;
  background: #1172c4;
  transition: all 0.2s ease-in-out;
}
